<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style_2.css">
</head>

<body>
    <header>
        <div class="all_header">
            <div class="header_logo">
                <img src="static/image/clubmed-grey_orig.png" alt="">
            </div>
            <div class="header menu">
                <p><a href="#nav_bar">Врач на дом</a></p>
                <p><a href="#secound_nav">Наши услуги</a></p>
                <p><a href="#therd_nav">О компании</a></p>
                <p><a href="#fourth_nav">Отзывы</a></p>
            </div>
            <div class="header_call">
                <i class='bx bxl-whatsapp'></i>
                <i class='bx bxs-phone-call'></i>
            </div>
        </div>

    </header>

    <div class="display_nona_menu">
        <input type="checkbox" id="menu-toggle">
        <label class="menu-btn" for="menu-toggle">☰ Меню</label>
    
        <div class="sidebar">
            <a href="#nav_bar">Врач на дом</a>
            <a href="#secound_nav">Наши услуги</a>
            <a href="#therd_nav">О компании</a>
            <a href="#fourth_nav">Отзывы</a>
            <a href="">Вызвать</a>
            <a href="">Написать на ватсап</a>
        </div>
        <label class="overlay" for="menu-toggle"></label>
    </div>

    <main>
        <div class="main_center">
            <div class="main_texts">
                <h1>Квалифицированная Медицинская помощь на дом 24/7</h1>
                <p>Вызвали врача на дом поздно вечером — приехали в течение часа. Всё прошло спокойно, специалист
                    вежливый и внимательный. Прописали лечение, стало лучше уже на следующий день. Единственный минус —
                    не сразу дозвонились. В остальном всё достойно!</p>
                <div class="call_phone"><a href="">Вызвать врача на дом</a></div>
            </div>
            <img src="static/image/med_car.avif" alt="" class="med_car_home">
        </div>
    </main>



    <nav id="doctors_for_home">
        <div class="nav_bar" id="nav_bar">
            <h1>Врач на дом</h1>
            <p class="first_text_p">Любовь к боли — вот основа всей радости. Тот, кто отказывается от удовольствия, не
                замечая страданий, заслуживает настоящего счастья. Тот, кто готов терпеть трудности ради цели, достигает
                большего.</p>
            <div class="nav_bar_texts">
                {% for doc in doctors %}
                    <div class="abouts">
                        <div class="doctor_catygory">
                            <h2>{{ doc.title }}</h2>
                            <a href="https://wa.me/{{ doc.phone_number }}">Вызвать</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </nav>

    <nav id="secound_nav">
        <div class="nav_bar">
            <div class="nav_bar_h2">
                <h2 class="uslugiy_h1"><b>Наши</b> услуги</h2>
            </div>
            <div class="medicen_product">
                <div class="display_nav">
                    {% for ser in services %}
                        <div class="about_uslugiy">
                            <img src="/media/{{ ser.image }}" alt="">
                            <h3>{{ ser.title }}</h3>
                            <p>{{ ser.desc|safe }}</p>
                            <a href="https://wa.me/{{ ser.phone_number }}">Вызвать</a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </nav>



    <nav id="therd_nav">
        <div class="therd_nav_bar">
            <div class="therd_bar">
                <div class="therd_static/image">
                    <img src="https://vita-med.kz/wp-content/uploads/2025/02/САНТЕХНИК-74-1.png" alt="">
                </div>
                <div class="therd_texts">
                    <h1>О нашей <b>компании</b></h1>
                    <p>ClubMed это профессиональная служба медицинской помощи на дому. Квалифицированный медперсонал
                        предоставляют помощь по всем медицинским манипуляциям</p>
                    <p>В наши услуги входят все необходимые направления для разных возрастов: от услуг по назначению
                        вашего лечащего врача до услуг по очищению организма при отравлениях</p>
                    <p>Мы заботимся о комфорте и безопасности клиентов, гарантируя качественное обслуживание на дому,
                        доступное круглосуточно</p>
                    <div class="therd_icons">
                        <p><i class='bx bxs-check-square'></i>Приедем в любой район в течение 20 минут</p>
                        <p><i class='bx bxs-check-square'></i>Мы работаем 24/7, включая праздники и выходные</p>
                        <p><i class='bx bxs-check-square'></i>Более 500 специалистов с многолетним опытом</p>
                        <p><i class='bx bxs-check-square'></i>Сохраняем анонимность</p>
                    </div>
                    <a href="">Вызвать специалиста</a>
                </div>
            </div>
        </div>
    </nav>


    <div class="otzivi" id="fourth_nav">
        <div class="otziv_11">
            <h1>Отзывы</h1>
            <div class="img_9821">
                <img src="https://vita-med.kz/wp-content/uploads/2025/02/САНТЕХНИК-73.png" class="img_821.1" alt="">
                <img src="https://vita-med.kz/wp-content/uploads/2025/02/САНТЕХНИК-73-1.png" class="img_821.2" alt="">
            </div>
        </div>
    </div>


    <footer>
        <div class="footer_center">
            <div class="logo_footer">
                <h1>ClubMed</h1>
                <p>Врач на дом</p>
                <div class="icons">
                    <i class='bx bxl-facebook-circle'></i>
                    <i class='bx bxl-instagram-alt'></i>
                    <i class='bx bxl-youtube'></i>
                    <i class='bx bxs-layout'></i>
                    <i class='bx bxl-discord-alt'></i>
                    <i class='bx bxl-whatsapp'></i>
                </div>
            </div>

            <div class="footer_texts">
                <div class="link">
                    <h1>Навигация</h1>
                    <p>Узкопрофильные врачи</p>
                    <p>Перечень услуг</p>
                    <p>О нас</p>
                    <p>Сертификаты</p>
                    <p>Отзывы</p>
                </div>
                <div class="link">
                    <h1>Выезд врачей</h1>
                    {% for docs in doctors %}
                        <p>{{ docs.title }}</p>
                    {% endfor %}
                </div>
                <div class="link">
                    <h1>Контакты</h1>
                    <p>info@club-med.kz</p>
                    <p>Позвонить: +7 (776) 615 56 16,</p>
                    <p>Написать: +7 (776) 615 56 16</p>
                </div>
            </div>
        </div>
    </footer>

    <footer class="footer_2">
        <div class="last_footer_text">
            <h1>Медицинская компания</h1>
            <p>© 2025 Мед на Дом. Все права защищены.</p>
        </div>
    </footer>

</body>

</html>